// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;

$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$font-color-primary: #fff;
$font-color-secondary: #000;
$color-hover: #c5338d;

$bgcolor-primary: #226856;
