<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>{% block title %}Przelicznik walut{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
  {% endblock %}

</head>

<body>
  <section class="navbar">
    <header class="header">
      <img src="{{url_for('static', filename='images/logo.jpg')}}" alt="logo" class="header__logo">
      <h1 class="header__heading">Przelicznik walut</h1>
    </header>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="/" class="menu__link">Strona główna</a></li>
        <li class="menu__item"><a href="/tabela" class="menu__link">Tabela walut</a></li>
        <li class="menu__item"><a href="https://api.nbp.pl/" class="menu__link">NBP Web API</a></li>
        <li class="menu__item"><a href="https://internetowykantor.pl/" class="menu__link">Internetowy kantor</a></li>
      </ul>
    </nav>
  </section>

  <section class="content">
    {%block content %}


    {%endblock%}
  </section>
</body>

<footer class="footer">
  <p class="footer__description">
    {% block footer %}
    <span class="footer__copy">&copy; Copyright 2023 by</span><a class="footer__link" href="http://raubuc.net/">Zenon
      Marek Raubuć</a>
    {% endblock %}
  </p>
</footer>

</html>