{% extends 'base.html'%}


{%block content %}
<form class="form" action="/" method="post">
  <fieldset class="form__border">
    <legend class="form__description">Wybierz symbol waluty</legend>
    <div class="convertor">
      <input class="convertor__value" type="text" name="quantity">
      <select class="convertor__symbol" name="symbol" id="symbol">
        <option>EUR</option>
        <option>USD</option>
        <option>CHF</option>
      </select>
      <button class="convertor__btn" type="submit">Przelicz</button>
      <p class="convertor__result"> {{value}}</p>
    </div>
  </fieldset>
</form>
{%endblock%}